body {
    background-color: #2C3333;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
}
.styled-table thead tr {
    background-color: #000000;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #ffffff;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #ffffff;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #ffffff;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #ffffff;
}
.styled-table {
    margin-left: auto;
    margin-right: auto;
}

.btn{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
    color:#fff
}
.btn.btn-pink{
    background: #B721FF;
    color: #fff;
    border-color: #B721FF;
    transition: all 0.5s ease-in-out;
    border-radius: 100%;
}
.btn.btn-pink:hover{
    
    border-color: #fff;
    color: #fff;
}
